@mixin responsive($size: 64rem) {
  @media (width <= $size) {
    @content;
  }
}

@mixin flex($direction: row, $align: center, $justify: center, $wrap: nowrap, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}
